.footer {
  padding: 32px 0;

  @media (max-width: 424px) {
    padding: 14px 0;
  }

  // .footer__wrapper
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: 424px) {
      flex-wrap: wrap;
    }
  }

  // .footer__copyright
  &__copyright {
    font-size: 12px;
    line-height: 175%;
    color: #FFFFFF;
    opacity: 0.5;
  }

  // .footer__develop
  &__develop {
    min-width: 110px;
    @media (max-width: 424px) {
      margin-top: 15px;
    }
  }

  // .footer__github
  &__github {
    font-size: 14px;
    line-height: 175%;
    color: #FFFFFF;
    opacity: 0.5;
  }
}
