.header {
  position: fixed;
  width: 100%;
  background: rgba(33, 33, 33, 0.8);
  z-index: 10;
  backdrop-filter: blur(5px);
  

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 18px 0;
  }
  // .header__column
  &__column {
    flex: 1 1 33.33333%;
  }
}
.menu {
  // .menu__nav
  &__nav {
  }
  // .menu__list
  &__list {  
    display: flex;
    justify-content: flex-start;
  }
  // .menu__item
  &__item {
    margin-left: 23px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-left: 35px;
    }
    display: flex;
    align-items: center;
  }
  // .menu__link
  &__link {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
  }
  // .menu__icon
  &__icon {
    width: 23px;
    height: 23px;
  }
}
.tuotown {
  // .logo__wrapper
  &__wrapper {
    display: flex;
    justify-content: center;
  }
  // .logo__link
  &__link {
  }
  // .logo__image
  &__image {
  }
}
.user {
  // .user__nav
  &__nav {
  }
  // .user__list
  &__list {
    display: flex;
    justify-content: flex-end;
  }
  // .user__item
  &__item {
    margin-left: 24px;
    &:first-child {
      margin-left: 0;
    }
  }
  // .user__link
  &__link {
  }
  // .user__icon
  &__icon {
    width: 23px;
    height: 23px;
  }
}
