.intresting {
  padding: 60px 0;

  & .title__intresting {
    margin-bottom: 37px;
  }
  // .intresting__article
  &__article {
    grid-template-columns: repeat(auto-fill, minmax(100px, 380px));
    grid-column-gap: 28px;

    @media (max-width: 767px) {
      grid-column-gap: 30px;
      grid-template-columns: repeat(auto-fit, 100%);
    }
    @media (max-width: 620px) {
      grid-template-columns: repeat(auto-fit, 100%);
    }
  }

  // .intresting__image
  &__image {
    overflow: hidden;
    border-radius: 16px;

    @media (max-width: 767px) {
      border-radius: 26px;
    }

    & img {
      transition: all 0.3s linear;

    }
  }

  &__date {
    position: absolute;
    right: 25px;
    top: 23px;

    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
  }

  // .intresting__info-about
  &__info-about {
    bottom: 0;
    padding-top: 18px;
    padding-bottom: 22px;

    transition: all 0.8s linear;

    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  // .intresting__name-about
  &__name-about {
    &::after {
      display: none;
    }
  }
}

.catalog {

  // .catalog__goods
  &__goods {

    // .catalog__goods_onecolumn
    &_onecolumn {

      @media (max-width: 767px) {
        max-height: 465px;
      }

      &:hover {
        & .intresting__image {


          & img {
            transform: scale(1.08);
          }
        }



        & .intresting__info-about {
          background-color: #C80000;
        }

      }


    }
  }
}