// **********************************************************************
// Миксины
// **********************************************************************

@import "./block/mixins";

// **********************************************************************
// Подключение шрифтов
// &display=swap&subset=cyrillic-ext
// **********************************************************************

@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Jura:regular,500,600&display=swap&subset=cyrillic-ext);

@import "./block/font";


// **********************************************************************
// Шрифт по умолчанию
// **********************************************************************

$fontFamily: "Montserrat";

// **********************************************************************
// Переменные
// **********************************************************************

$maxWidth: 1440;
$minWidth: 320px;

$maxWidthContainer: 1198;

$md1: $maxWidthContainer+12;
$md2: 991.98+'px';
$md3: 767+'px';
$md3: 479.98+'px';

// **********************************************************************
// Обнуление, общие свойства
// **********************************************************************

@import "./block/nullstyle";

* {
  scroll-behavior: smooth;
}

body {
  color: #000;
  width: 100%;
  font-size: 17px;
  font-family: $fontFamily;
  background-color: #373737;
}

// **********************************************************************
// Контейнер
// **********************************************************************

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;

  // @media (max-width: $md1) {
  // 	max-width: 970px;
  // }
  @media (max-width: 767px) {
    padding: 0 69px;
  }

  @media (max-width: 425px) {
    padding: 0 15px;
  }
}


// **********************************************************************
// Подключение файлов стилей страниц и элементов
// **********************************************************************


@import './block/header';
@import './block/main';
@import './libs/slick';
@import './block/logo';
@import './block/catalog';
@import './block/mailing';
@import './block/actual';
@import './block/about';
@import './block/interesting';
@import './block/information';

@import './block/footer';



@import './catalog/house&knife';
@import './catalog/shop';

body {
  position: relative;

  &.body__menu_active {
    transition: all 0.3s linear;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
      background: rgba(0, 0, 0, 0.623);
      filter: brightness(10);
    }
    
    @media (max-width: 767px) {
        overflow: hidden;
      }

  }

  

}