// **********************************************************************
// Миксины
// **********************************************************************

@import "./block/mixins";

// **********************************************************************
// Подключение шрифтов
// &display=swap&subset=cyrillic-ext
// **********************************************************************

@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Jura:regular,500,600&display=swap&subset=cyrillic-ext);

@import "./block/font";



// **********************************************************************
// Шрифт по умолчанию
// **********************************************************************

$fontFamily: "Montserrat";

// **********************************************************************
// Переменные
// **********************************************************************

$maxWidth: 1440;
$minWidth: 320px;

$maxWidthContainer: 1198;

$md1: $maxWidthContainer+12;
$md2: 991.98px;
$md3: 767.98px;
$md3: 479.98px;

// **********************************************************************
// Обнуление, общие свойства
// **********************************************************************

@import "./block/nullstyle";

body {
  color: #000;
  font-size: 17px;
  font-family: $fontFamily;
  background-color: #373737;
}

// **********************************************************************
// Контейнер
// **********************************************************************

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
  // @media (max-width: $md1) {
  // 	max-width: 970px;
  // }
  // @media (max-width: $md2) {
  // 	max-width: 750;
  // }
  // @media (max-width: $md3) {
  // 	max-width: none;
  // 	padding: 0 10px;
  // }
}


// **********************************************************************
// Подключение файлов стилей страниц и элементов
// **********************************************************************


@import './block/header';

@import './libs/slick';
@import './block/logo';
@import './block/catalog';
@import './block/mailing';
@import './block/actual';
@import './block/about';
@import './block/interesting';

@import './block/footer';